body{
    margin: 0px;
    background-color: #E2E0E3 ;
}

div, header{
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.cabecalho{
    background-color: #1E1F20;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.menu{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.tituloHomeDG{
    font-size: 35px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 3px;
    color: azure;
}

span{
    color: #A981CA;
    letter-spacing: 0px;
}

.carrinho{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


.corpoHome{
    flex: 1;
    justify-content: center;    
}

.bannerBlack{

    width: 100%;
    margin-top: 40px;
    justify-content: center;
} 



img{ 
    max-width: 100%;
    height: auto;
}

.ofertasImg, .freteImg{

    width: 381px;
    height: 201px; 
    margin: 25px;
}


.prodVendas{
    width: 90%;
    justify-content: space-around;
    margin-top: 100px;
    border: solid blue 2px; 
}

.CamisetaVenda{
    width: 220px;
    border: solid black 3px;
    justify-content: center;
    border-radius: 5px;
    background-color: #DFDFDF;
    font-family: 'Montserrat', sans-serif;
}

.tituloCamiseta{
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    text-align: center;
}

.infoCamiseta{
    width: 100%;
    text-align: center;
}

.valorCamiseta{
    color: black;
    font-size: 22px;
}

a{
    text-decoration: none;
    color: black;
}

.comprarCamiseta{
    width: 65px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;

}


@media (max-width: 450px){
    .cabecalho{
        height: 35px;
    }

    .menu, .carrinho{
        width: 20px;
        height: 20px;
    }

    .tituloHomeDG, span{
        font-size: 25px;
        color:aqua;
    }
    .bannerBlack{
        width: 320px;
    }
    .ofertasImg, .freteImg{
        width: 130px;
        height: 50px;
        /* border: solid peru 2px; */
        margin: 10px;
    }
}

@media (min-width: 451px) and (max-width: 850px){
    .cabecalho{
        height: 40px;
    }
    .tituloHomeDG, span{
        color: yellow;
        font-size: 25px;
    }
    .menu, .carrinho{
        width: 20px;
        height: 20px;
    }
    
    .bannerBlack{
        width: 600px;
    }
    
    .ofertasImg, .freteImg{
        width: 200px;
        height: 100px;
    }
}

@media (min-width: 851px) and (max-width: 950px){
    .cabecalho{
        height: 40px;
    }

    .tituloHomeDG, span{
        color:chartreuse;
        font-size: 25px;
    }

    .bannerBlack{
        width: 680px;
    }

    .freteImg,.ofertasImg{
        width: 220px;
        height: 80px;
    }
}
